.navbar {
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
}

.navContainer {
    width: 100%;
    min-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 18px;
    font-weight: 700;
    padding-left: 18px;
}

.navButton {
    width: 81px;
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    margin-right: 18px;
    border-radius: 5px;
    color: #003580;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
